:root {
  /* Font */
  --font-family: "Inter", sans-serif;

  /* Font Sizes */
  --t1: 2.25rem;
  --t2: 1.5rem;
  --t3: 1rem;
  --t4: 0.95rem;
  --t5: 0.875rem;

  /* Misc */
  --border-radius: 0.4rem;
  --transition-duration: 0.3s;
}
